<section  class="twelve columns container">
	<header class="main-page-header">Edit <%= @employee.full_name %></header>
	<%= render 'form' %>
	<%= link_to 'Show', @employee %> |
	<%= link_to 'Back', employees_path %>
</section>


