Hi <%= @user.user_fname %>,

<p>A site administrator at Team Six WFMS has created an account for you.</p>

<p>Your current details are:</p>

<p>username: <%= @user.user_email %></p>
<p>password: <%= @user.password %></p>

<p>Please Log in and change your password to something you can remember.</p>

<p>-- </p>
<p>Administrator</p>