<section  class="twelve columns container">
	<header class="main-page-header">Edit Settings</header>

	<table>
		<tr>
			<td>Required Service Level</td>
			<td><%= @settings.service_level %></td>
		</tr>
	</table>
	
</section>