
#contacts-new{
	width: 100%;
	height: 100%;
	background: url("cover.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

section#contact{
	background: #fff;
	margin-top: 120px;
	width: 35%;
	border-radius: 2px;
	padding-top:  20px;
	padding-bottom: 20px;

	header{	
		margin-bottom: 20px;
		font-size: 1.5em;
		text-transform: uppercase;
		border-bottom: 1px dashed #ccc;
		padding-bottom: 10px;
		letter-spacing: -2px;

		img{
			width: 100px;
			float: left;	
			margin-right: 20px;
		}

		p{
			margin: 0;
		}
	}

	ul{
		margin: 0;
		padding: 0;
	}

	li{
		list-style: none;
		width: 100%;
		float: left;
		margin-bottom:  15px;
		height: 45px;
	}

	.adjoined{
		width: 15%;
		height: 100%;
		float: left;
		text-align: center;
		color: #fff;
		background: #6abe28;
		border: 1px solid #5ea924;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-bottom-left-radius: 2px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-bottomleft: 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		border-right: none;

		i{
			margin-top:  15px;
		}
	}

	input[type="submit"]{
		width: 100%;
		padding: 7px;
	}

		input[type="text"], input[type="password"]{
		width: 85%;
		float: left;
		height: 100%;
		border: 1px solid #ccc;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 0;
		padding-bottom: 0;
		-webkit-border-top-right-radius: 2px;
		-webkit-border-bottom-right-radius: 2px;
		-moz-border-radius-topright: 2px;
		-moz-border-radius-bottomright: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		border-left: none;

		&:focus{
			outline: none;
			background: #FDE3A7;
		}
	}
	
	.enter-button{
		width: 58%;
	    padding-top: 7px;
	    padding-bottom: 7px;
	    background:  #1abc9c;
	    border-radius: 2px;
	    border: none;
	    border-bottom: 5px solid #16a085;
	    margin: 0 auto;
	    color: #fff;
	    text-transform: uppercase;
	    

	    &:hover{
	      opacity: 0.9;
	    }

	    &:active{
	      opacity: 0.8;
	    }
	}

	.clear-button{
		width: 40%;
		padding-top: 7px;
		padding-bottom: 7px;
		float: right;
		background: #3498db;
		border: none;
		color: #fff;
		border-bottom: 5px solid #2980b9;
		border-radius: 2px;
	}

	#forgot-password{
		font-size: 0.9em;
		text-align: center;
		color: #2c3e50;
		border-top: 1px dashed #ccc;
		margin-top: 20px;
		padding-top: 20px;

		a{
			color: #2c3e50;
		}
	}
}