.chart-cointainer{
	display: block;
	float: left;
	width: 100%;
	height: 300px;
}

.charting{
	header{
		text-transform: uppercase;

		p{
			text-transform: none;
			font-size: 0.9em;
		}
	}


}

section#main-header{
	width: 100%;
	height: 55px;
	background: #ffffff;
	color: #666666;
	padding-top: 10px;
	padding-bottom: 0px;
	font-size: 0.95em;
	position: fixed;
	border-top: 0px solid #1abc9c;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

 	#header-items{
		width: 100%;
		float: left;
		position: relative;
	}

	#group-logo{
		width: 10%;
		float: left;
		text-align: center;

		img{
			width: 80%;		
			margin-left: 10px;
			margin-top: 3px;
		}
	}

	#user-name{	
		float: left;
		line-height: 32px;
		width: 35%;
		padding-left: 10px;

		span{
			text-transform: capitalize;
		}	

		a{
			color: #6abe28;
			text-decoration: underline;
			font-weight: 700;
		}
	}

	

	#sign-out{
		float: right;
		padding-right: 10px;
		text-align: right;
		line-height: 20px;
		width: 20%;

		span.signout-button{
			background: #EF4836;
			border: 1px solid #D91E18;
			padding: 7px 15px;
			border-radius: 2px;
			float: right;

			i{
				color: #fff;
				margin-right: 5px;
			}
		}

		a{
			color: #fff;
			font-size: 0.85em;
		}
	}

	.header-element{
		height: 35px;
		float: left;
	}
}

#timedate{
		float: left;
		width: 18%;
		position: fixed;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		margin-top: 55px;
		height: 60px;
		background: #1d1d1d;
		font-family: 'Open Sans', sans-serif;


		#date{
			color: #ccc;
			text-transform: uppercase;
			font-size: 0.87em;
			float: left;
			width: 100%;

		}

		#clock{
			color: #ccc;
			font-size: 1em;
			float: left;
			padding-bottom: 0;
			font-weight: 700;
			text-align: left;
			display: block;
			width: 100%;
			padding: 0;
		}
	}


#search{		
		float: left;
		width: 50%;

		input[type="text"]{
			width: 90%;
			margin-top: 10px;
			background: orange;
			height: 40px;
			border: none;
			float: left;
			border: 1px solid #ccc;
			padding: 5px;
			padding-left: 15px;
			padding-right: 15px;
			background: #fff;
			color: #373737;
			font-family: 'Maven Pro', sans-serif !important;
			-webkit-border-top-right-radius: 2px;
			-webkit-border-bottom-right-radius: 2px;
			-moz-border-radius-topright: 2px;
			-moz-border-radius-bottomright: 2px;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px; 
			border-radius: 0;
		}

	.submit{
		float: left;
		width: 10%;
		height: 40px;
		font-family: 'Maven Pro', sans-serif !important;
		margin-top: 10px;
		border: 1px solid #5ea924;
		background: #6abe28;
		border-radius: 0;
		color: #fff;
		border-radius: 0;
	}
}


table.statistics-table{
	margin-top: 10px;
	text-align: center;
	border: none;
  width: 100%;
  height: 100%;
  font-size: 0.85em !important;

  thead{
  	background: #5ea924;
  	color: #fff;
  	th{
			text-align: center;
			text-transform: uppercase;
			padding: 15px;
			
			border-right: 1px solid #477f1b;

			&:last-child{
				border-right: none;
			}
		}	
  }

	

	.values{
		td{
			font-size: 1.6em;
			padding-top: 20px;
			padding-bottom: 20px;
			background: #477f1b;
			color: #fff;
			border-right: 1px solid #5ea924;

			&:last-child{
				border-right: none;
			}
		}
	}

	.comparison{
		td{
			background: #5ea924;
			color: #fff;
			padding-top: 10px;
			padding-bottom: 10px;
			border-right: 1px solid #477f1b;

			&:last-child{
				border-right: none;
			}
		}
	}

	a{
		color: #fff;
		text-decoration: underline;
	}
}

div#presentation-values{
	margin-top: 10px;

	h5{
		font-weight: 700;
		font-style: italic;
		margin-bottom: 10px;
	}

	h6{
		font-weight: 700;
	}

	.calc{
		padding: 20px;
		border: 1px solid #ccc;
		margin-bottom: 10px;
	}
}

section#main-navigation{
	float: left;
	width: 18%;
	height: 100%;
	background: #4c4c4c;
	position: fixed;
	margin-top: 115px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

	ul{
		float: left;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 0px;

		.top-level{
			width: 100%;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-left: 0px;
			color: #fff;
			background-position: bottom;	
			font-size: 0.90em;	
			float: left;

			span{
				padding-left: 10px;
				display: inline-block;
				width: 100%;
				padding-top: 15px;
				padding-bottom: 15px;
				float: left;
				background: none;

				&:hover{
					cursor: pointer;
					
					i{
						color: #fff;
					}
				}		
			}
		}

		.second-level{
			
			background: #1e1e1e;
			display: none;
			position: relative;
			padding-top: 5px;
			padding-bottom: 5px;
			width: 100%;
			float: left;
			font-size: 0.9em;

			li{
				margin-left: 0px;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 20px;
			}

			li.current{
				background: #6abe28;
				border-right: 5px solid #ececec;
				a{
					color: #fff;
				}
			}

			a{
				color: #bdc3c7;
			}

		}
	}
}

section#content{
	width: 82%;
	margin-left: 0;
	margin-top: 55px;
	float: right;
}

section.dashboard-widgets{
	float: left;
	margin-left: 0;
	margin-top: 20px;

	.user-count{
		width: 50%;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		font-weight: 700;
		border-radius: 2px;
		background: green;
		color: #fff;
	}
}

