<section class="not-authorised row">
	<header><i class="fa fa-exclamation-circle"></i> <strong>Restricted</strong>Access</header>
	<p>Sorry, You are not authorised to view this page.</p>
</section><!-- not-authorised -->